:root{
    --dark01: #131313;
    --dark02: #424242;
    --dark03: #727272;
    --dark04: #A1A1A1;
    --button-bg: #FF900E
}

*{
    margin: 0;
    padding: 0;
    font-family: "Work Sans", serif;
    font-optical-sizing: auto;
    font-style: normal;
}
body{
    width: 100%;
}
header{
    background: rgba(255, 144, 14, 0.10);
    width: 100%;
}
nav, .banner, main{
    width: 80%;
    margin: 0 auto;
}
nav{
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header nav ul{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    gap: 50px;
}
header nav ul li a{
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 26px;
    color: var(--dark02);
}
h1{
    font-size: 2.8rem;
}
header .banner{
    margin-top: 102px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.banner div{
    width: 50%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.banner div h1{
    font-size: 4rem;
    font-weight: bold;
    text-align: center;
}
p{
    margin-top: 24px;
    line-height: 26px;
    font-size: 1rem;
    color: var(--dark03);
}
.banner div p{
    text-align: center;
}
button{
    margin: 32px auto 50px auto;
    color: white;
    font-size: 1.3rem;
    font-weight: 600;
    background-color: var(--button-bg);
    border: none;
    border-radius: 8px;
    padding: 18px 28px;
}
.banner img{
    width: 100%;
    margin-bottom: 45px;
}


.features{
    padding: 0 60px;
    margin-top: 80px;
    margin-bottom: 130px;
    display: flex;
    gap: 70px;
    align-items: center;
}
.features .team-img{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}
.features .features-list h2{
    font-size: 45px;
    font-weight: 500;
    color: var(--dark03);
}
.features-list h2 span{
    font-weight: bold;
}
.of-our{
    color: var(--dark01);
}
.features-text{
    color:var(--button-bg);
}
.features .features-list p{
    text-align: left;
}

.features-details {
    display: flex;
    gap: 90px;
}
.features-details h1{
    border-left: 5px solid var(--button-bg);
    padding-left: 20px;
}
.features-details .features-content{
    padding-top: 39px;
    padding-right: 52px;
}
.features-content article p{
    margin-top: 32px;
    margin-bottom: 30px;
    font-size: 1em;
    font-weight: 400;
    line-height: 26px;
}
.features-content div{
    border-radius: 8px;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    margin-bottom: 20px;
    padding: 30px;
}
.features-content div p{
    margin-top: 0px;
    color: rgb(114, 114, 114);
    font-size: 1em;
    font-weight: 400;
    line-height: 26px;
}
.features-content div h3{
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    padding-bottom: 10px;
}
.features-details img{
    max-width: 708px;
    max-height: 982px;
}
.architect{
    position: relative;
}
.architect div{
    position:absolute;
    padding: 45px 42px;
    border-radius: 8px;
    background: rgb(255, 144, 14);
    text-align: center;
    color: white;
    bottom: -8px;
    left: -100px;
}
.architect div h4{
    font-size: 65px;
    font-weight: bold;
}
.architect div h6{
    font-size: 25px;
    font-weight: 600;
}

.facts{
    margin-top: 120px;
}
.facts h1{
    font-size: 45px;
    font-weight: 700;
    line-height: 53px;
}
.facts > div{
    display: flex;
    justify-content: space-around;
}
.facts > div div{
    margin-top: 100px;
    padding: 46px 36px;
    border: 1px solid rgb(255, 144, 14);
    border-radius: 8px;
    text-align: center;
}
.facts h4{
    font-size: 45px;
    font-weight: 600;
    line-height: 53px;
    padding-top: 10px;
}
.facts h6{
    padding-top: 5px;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    color: rgb(114, 114, 114);
}
@media screen and (max-width: 576px) {
    nav, .banner, main{
        width: 100%;
        flex-direction: column;
    }
    nav{
        padding-top: 20px;
        gap: 32px;
    }
    header nav ul{
        gap: 26px;
    }
    header nav ul li a{
        font-size: 0.9em;
    }
    header .banner{
        margin-top: 60px;
    }
    .banner div{
        width: 95%;
        margin: 0 auto;
    }
    .banner div h1{
        font-size: 2rem;
    }
    .banner div button, .features button{
        padding: 12px 22px;
        font-size: 0.95rem;
        margin-bottom: 38px;
    }

    .features{
        flex-direction: column;
        margin: 40px auto 50px auto;
        padding: 0 24px;
    }
    .features .team-img{
        grid-template-columns: repeat(1, 1fr);
    }
    .features img{
        width: 100%;
    }
    .features .features-list h2{
        font-size: 28px;
    }
    .features-details {
        flex-direction: column;
        width: 90%;
        gap: 32px;
        margin: 0 auto;
    }
    .features-details img{
        width: 100%;
    }
    .features-details .features-content{
        padding-right: 0px;
        padding-top: 10px;
    } 
    .features-content div{
        padding: 26px;
    }
    .features-content div p{
        font-size: 0.9em;
        font-weight: 400;
        line-height: 22px;
    }
    .features-content div h3{
        font-size: 1em;
        font-weight: 600;
        line-height: 21px;
        padding-bottom: 10px;
    }
    .features-details h1{
        padding-left: 10px;
    }
    .features-content article h1{
        font-size: 28px;
    }
    .architect{
        margin-top: 0px;
    }
    .architect div{
        padding: 24px 24px;
        bottom: 0;
        left: 0;
    }
    .architect div h4{
        font-size: 45px;
    }
    .architect div h6{
        font-size: 18px;
        font-weight: 600;
    }
    .facts{
        width: 90%;
        margin: 60px auto 0 auto;
    }
    .facts h1{
        font-size: 32px;
        font-weight: 700;
        line-height: 53px;
    }
    .facts > div{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 0.6em;
    }
    .facts p{
        margin-bottom: 30px;
        margin-top: 18px;
    }
    .facts > div div{
        margin-top: 0px;
        padding: 28px 10px;
        border: 1px solid rgb(255, 144, 14);
        border-radius: 8px;
        text-align: center;
    }
    .facts h4{
        font-size: 2.2em;
        padding-top: 6px;
    }
    .facts h6{
        font-size: 1.1em;
        padding-top: 4px;
    }
}

@media screen and (min-width: 576px) and (max-width: 992px) {
    nav, .banner, main{
        width: 100%;
    }
    nav{
        padding-top: 24px;
        gap: 22px;
        flex-direction: column;
    }
    h1{
        font-size: 2rem;
    }
    .features{
        flex-direction: column;
        padding: 0 30px
    }
    header nav ul li a{
        font-size: 1rem;
    }
    header .banner{
        width: 90%;
        margin: 50px auto 0 auto;
    }
    .banner div{
        width: 90%;
        margin: 0 auto;
    }
    .banner div h1{
        font-size: 2.2rem;
    }
    img{
        width: 100%;
    }
    
    .features-details img{
        width: 100%;
    }
    .features{
        flex-direction: column;
        margin: 40px auto 30px auto;
    }
    
    .features-details {
        flex-direction: column;
        width: 90%;
        gap: 32px;
        margin: 0 auto;
    }
    .features-details img{
        width: 100%;
    }
    .features-details .features-content{
        padding-right: 0px;
        padding-top: 0px;
    } 
    .features-content div{
        padding: 26px;
    }
    .features-content div p{
        font-size: 1em;
        font-weight: 400;
    }
    .features-content div h3{
        font-size: 1.1em;
        line-height: 21px;
        padding-bottom: 10px;
    }
    .features-details .features-content{
        width: 100%;
        padding-right: 0px;
        gap: 16px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .features-content article{
        grid-column: 1/3;
    }
    .features-details .features-content h1{
        display: flex;
        align-items: center;
    }
    .architect{
        margin-top: 32px;
        width: 90%;
        margin-right:auto ;
        margin-left: auto;
    }
    .architect img{
        width: 100%;
    }
    .architect div{
        padding: 24px 24px;
        bottom: 0;
        left: 0;
    }
    .architect div h4{
        font-size: 45px;
    }
    .architect div h6{
        font-size: 18px;
        font-weight: 600;
    }

    .facts{
        width: 90%;
        margin: 80px auto 0 auto;
    }
    .facts img{
        width: auto;
    }
    .facts h1{
        font-size: 38px;
        font-weight: 700;
        line-height: 53px;
    }
    .facts > div{
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        justify-content: center;
    }
    .facts p{
        margin-bottom: 30px;
        margin-top: 18px;
    }
    .facts > div div{
        margin-top: 0px;
        padding: 28px 30px;
        border: 1px solid rgb(255, 144, 14);
        border-radius: 8px;
        text-align: center;
        width: 160px;
    }
    .facts h4{
        font-size: 2.2em;
        padding-top: 6px;
    }
    .facts h6{
        font-size: 1.1em;
        padding-top: 4px;
    }

}